<div class="wrapper wrapper-content animated fadeIn" ng-init="ns='organization.settings'">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="alert-success m-xs p-xs">
                        {{ (ns + ".info.description") | translate }}<br/>
                        <strong>{{ (ns + ".info.schema") | translate }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <form role="form" name="form" novalidate ng-submit="update(settings)">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-users m-r-xs"></i> {{ (ns + ".project_dev.title") | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".project_dev.descriptions.contributor_price") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.contributor_price.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.contributor_price.placeholder') | translate }}"
                                           class="form-control" name="contributor_price"
                                           ng-model="settings.contributorPrice" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.contributor_price.$invalid && form.contributor_price.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_price.$error.required">
                                        {{ (ns+'.form.contributor_price.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_price.$error.number">
                                        {{ (ns+'.form.contributor_price.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_price.$error.min">
                                        {{ (ns+'.form.contributor_price.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".project_dev.descriptions.contributor_occupation") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.contributor_occupation.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                    <input type="number" min="0" max="100"
                                           placeholder="{{ (ns+'.form.contributor_occupation.placeholder') | translate }}"
                                           class="form-control" name="contributor_occupation"
                                           ng-model="settings.contributorOccupation" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.contributor_occupation.$invalid && form.contributor_occupation.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_occupation.$error.required">
                                        {{ (ns+'.form.contributor_occupation.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_occupation.$error.number">
                                        {{ (ns+'.form.contributor_occupation.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_occupation.$error.min">
                                        {{ (ns+'.form.contributor_occupation.errors.min') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_occupation.$error.max">
                                        {{ (ns+'.form.contributor_occupation.errors.max') | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-rocket m-r-xs"></i> {{ (ns + ".project_management.title") | translate }}
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".project_management.descriptions.scrummaster_price") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.scrummaster_price.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.scrummaster_price.placeholder') | translate }}"
                                           class="form-control" name="scrummaster_price"
                                           ng-model="settings.scrummasterPrice" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.scrummaster_price.$invalid && form.scrummaster_price.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_price.$error.required">
                                        {{ (ns+'.form.scrummaster_price.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_price.$error.number">
                                        {{ (ns+'.form.scrummaster_price.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_price.$error.min">
                                        {{ (ns+'.form.scrummaster_price.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".project_management.descriptions.scrummaster_occupation") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.scrummaster_occupation.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                    <input type="number" min="0" max="100"
                                           placeholder="{{ (ns+'.form.scrummaster_occupation.placeholder') | translate }}"
                                           class="form-control" name="scrummaster_occupation"
                                           ng-model="settings.scrummasterOccupation" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.scrummaster_occupation.$invalid && form.scrummaster_occupation.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_occupation.$error.required">
                                        {{ (ns+'.form.scrummaster_occupation.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_occupation.$error.number">
                                        {{ (ns+'.form.scrummaster_occupation.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_occupation.$error.min">
                                        {{ (ns+'.form.scrummaster_occupation.errors.min') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_occupation.$error.max">
                                        {{ (ns+'.form.scrummaster_occupation.errors.max') | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-money m-r-xs"></i> {{ (ns + ".billing.title") | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".billing.descriptions.rate_multiplier") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.rate_multiplier.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.rate_multiplier.placeholder') | translate }}"
                                           class="form-control" name="rate_multiplier"
                                           ng-model="settings.rateMultiplier" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.rate_multiplier.$invalid && form.rate_multiplier.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.rate_multiplier.$error.required">
                                        {{ (ns+'.form.rate_multiplier.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.rate_multiplier.$error.number">
                                        {{ (ns+'.form.rate_multiplier.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.rate_multiplier.$error.min">
                                        {{ (ns+'.form.rate_multiplier.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".billing.descriptions.show_dev_price") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="checkbox m-r-xs">
                                    <input type="checkbox" id="billing-show-dev" ng-model="settings.showDev">
                                    <label for="billing-show-dev">
                                        {{ (ns + ".form.show_dev_price.label") | translate }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".billing.descriptions.show_management_price") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="checkbox m-r-xs">
                                    <input type="checkbox" id="billing-show-management"
                                           ng-model="settings.showManagement">
                                    <label for="billing-show-management">
                                        {{ (ns + ".form.show_management_price.label") | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-tasks m-r-xs"></i> {{ (ns + ".unit.title") | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small class="text-navy">{{ (ns + ".unit.descriptions.estimate_type") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.estimate_type.label') | translate }} *</label>

                                <div class="m-t-xs">
                                    <select class="form-control" name="estimate_type" ng-model="settings.estimateType"
                                            required>
                                        <option value="">{{ (ns+'.form.estimate_type.select') | translate }}</option>
                                        <option value="final">{{ (ns+'.form.estimate_type.items.final') | translate }}
                                        </option>
                                        <option value="range">{{ (ns+'.form.estimate_type.items.range') | translate }}
                                        </option>
                                    </select>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.estimate_type.$invalid && form.estimate_type.$dirty">
                                    <small class="text-danger help-block" ng-show="form.estimate_type.$error.required">
                                        {{ (ns+'.form.estimate_type.errors.required') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div ng-if="settings.estimateType == 'range'">
                                <div class="form-group">
                                    <small class="text-navy">
                                        {{ (ns + ".unit.descriptions.range_estimate_unit") | translate }}
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>{{ (ns+'.form.range_estimate_unit.label') | translate }} *</label>

                                    <div class="m-t-xs">
                                        <select class="form-control" name="range_estimate_unit"
                                                ng-model="settings.rangeEstimateUnit" required>
                                            <option value="">
                                                {{ (ns+'.form.range_estimate_unit.select') | translate }}
                                            </option>
                                            <option value="minute">
                                                {{ (ns+'.form.range_estimate_unit.items.minute') | translate }}
                                            </option>
                                            <option value="hour">
                                                {{ (ns+'.form.range_estimate_unit.items.hour') | translate }}
                                            </option>
                                            <option value="day">
                                                {{ (ns+'.form.range_estimate_unit.items.day') | translate }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="m-t-xs"
                                         ng-show="form.range_estimate_unit.$invalid && form.range_estimate_unit.$dirty">
                                        <small class="text-danger help-block"
                                               ng-show="form.range_estimate_unit.$error.required">
                                            {{ (ns+'.form.range_estimate_unit.errors.required') | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".unit.descriptions.label") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.label.label') | translate }} *</label>
                                <input type="text"
                                       placeholder="{{ (ns+'.form.label.placeholder') | translate }}"
                                       class="form-control" name="label"
                                       ng-model="settings.label" required>

                                <div class="m-t-xs"
                                     ng-show="form.label.$invalid && form.label.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.label.$error.required">
                                        {{ (ns+'.form.label.errors.required') | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-calendar m-r-xs"></i> {{ (ns + ".date.title") | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".date.descriptions.show") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="checkbox m-r-xs">
                                    <input type="checkbox" id="date-show"
                                           ng-model="settings.showDate">
                                    <label for="date-show">
                                        {{ (ns + ".form.date.label") | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-refresh m-r-xs"></i> {{ (ns + ".iteration.title") | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label>{{ (ns+'.form.contributor_available.label') | translate }} *</label>

                                <div class="input-group">
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.contributor_available.placeholder') | translate }}"
                                           class="form-control" name="contributor_available"
                                           ng-model="settings.contributorAvailable" required>
                                    <span class="input-group-addon">
                                        {{ (ns+'.form.contributor_available.suffix') | translate }}
                                    </span>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.contributor_available.$invalid && form.contributor_available.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_available.$error.required">
                                        {{ (ns+'.form.contributor_available.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_available.$error.number">
                                        {{ (ns+'.form.contributor_available.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_available.$error.min">
                                        {{ (ns+'.form.contributor_available.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".iteration.descriptions.hour_per_day") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.hour_per_day.label') | translate }} *</label>

                                <div class="input-group">
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.hour_per_day.placeholder') | translate }}"
                                           class="form-control" name="hour_per_day"
                                           ng-model="settings.hourPerDay" required>
                                    <span class="input-group-addon">
                                        {{ (ns+'.form.hour_per_day.suffix') | translate }}
                                    </span>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.hour_per_day.$invalid && form.hour_per_day.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.hour_per_day.$error.required">
                                        {{ (ns+'.form.hour_per_day.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.hour_per_day.$error.number">
                                        {{ (ns+'.form.hour_per_day.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.hour_per_day.$error.min">
                                        {{ (ns+'.form.hour_per_day.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".iteration.descriptions.day_per_week") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.day_per_week.label') | translate }} *</label>

                                <div class="input-group">
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.day_per_week.placeholder') | translate }}"
                                           class="form-control" name="day_per_week"
                                           ng-model="settings.dayPerWeek" required>
                                    <span class="input-group-addon">
                                        {{ (ns+'.form.day_per_week.suffix') | translate }}
                                    </span>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.day_per_week.$invalid && form.day_per_week.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.day_per_week.$error.required">
                                        {{ (ns+'.form.day_per_week.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.day_per_week.$error.number">
                                        {{ (ns+'.form.day_per_week.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.day_per_week.$error.min">
                                        {{ (ns+'.form.day_per_week.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.week_per_iteration.label') | translate }} *</label>

                                <div class="input-group">
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.week_per_iteration.placeholder') | translate }}"
                                           class="form-control" name="week_per_iteration"
                                           ng-model="settings.weekPerIteration" required>
                                    <span class="input-group-addon">
                                        {{ (ns+'.form.week_per_iteration.suffix') | translate }}
                                    </span>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.week_per_iteration.$invalid && form.week_per_iteration.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.week_per_iteration.$error.required">
                                        {{ (ns+'.form.week_per_iteration.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.week_per_iteration.$error.number">
                                        {{ (ns+'.form.week_per_iteration.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.week_per_iteration.$error.min">
                                        {{ (ns+'.form.week_per_iteration.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-bookmark m-r-xs"></i> {{ (ns + ".resume.title") | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                            <ul class="folder-list" style="padding: 0">
                                <li><i class="fa fa-users"></i>
                                    {{ (ns+'.form.contributor_price.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="text-navy">{{ settings.contributorPrice }}</span> &euro;
                                    </strong>
                                </li>
                                <li><i class="fa fa-users"></i>
                                    {{ (ns+'.form.contributor_occupation.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="text-navy">{{ settings.contributorOccupation }}</span> %
                                    </strong>
                                </li>
                                <li><i class="fa fa-rocket"></i>
                                    {{ (ns+'.form.scrummaster_price.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="text-navy">{{ settings.scrummasterPrice }}</span> &euro;
                                    </strong>
                                </li>
                                <li><i class="fa fa-rocket"></i>
                                    {{ (ns+'.form.scrummaster_occupation.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="text-navy">{{ settings.scrummasterOccupation }}</span> %
                                    </strong>
                                </li>
                                <li><i class="fa fa-money"></i>
                                    {{ (ns+'.form.rate_multiplier.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="text-navy">{{ settings.rateMultiplier }}</span> %
                                    </strong>

                                </li>
                                <li><i class="fa fa-money"></i>
                                    {{ (ns+'.form.show_dev_price.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="fa"
                                              ng-class="settings.showDev ? 'text-navy fa-check-square-o' : 'fa-square-o'"></span>
                                    </strong>
                                </li>
                                <li><i class="fa fa-money"></i>
                                    {{ (ns+'.form.show_management_price.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="fa"
                                              ng-class="settings.showManagement ? 'text-navy fa-check-square-o' : 'fa-square-o'"></span>
                                    </strong>
                                </li>
                                <li><i class="fa fa-tasks"></i>
                                    {{ (ns+'.form.estimate_type.label') | translate }}
                                    <div ng-switch="settings.estimateType" class="pull-right">
                                        <strong ng-switch-default=""> - </strong>
                                        <strong ng-switch-when="final" class="text-navy">{{ (ns+'.form.estimate_type.items.final') | translate }}</strong>
                                        <strong ng-switch-when="range" class="text-navy">{{ (ns+'.form.estimate_type.items.range') | translate }}</strong>
                                    </div>
                                </li>
                                <li ng-if="settings.estimateType=='range'">
                                    <i class="fa fa-tasks"></i>
                                    {{ (ns+'.form.range_estimate_unit.label') | translate }}
                                    <div ng-switch="settings.rangeEstimateUnit" class="pull-right">
                                        <strong ng-switch-default=""> - </strong>
                                        <strong ng-switch-when="minute" class="text-navy">{{ (ns+'.form.range_estimate_unit.items.minute') | translate }}</strong>
                                        <strong ng-switch-when="hour" class="text-navy">{{ (ns+'.form.range_estimate_unit.items.hour') | translate }}</strong>
                                        <strong ng-switch-when="day" class="text-navy">{{ (ns+'.form.range_estimate_unit.items.day') | translate }}</strong>
                                    </div>
                                </li>
                                <li><i class="fa fa-tasks"></i>
                                    {{ (ns+'.form.label.label') | translate }}
                                    <strong class="pull-right text-navy">{{ settings.label }}</strong>
                                </li>
                                <li><i class="fa fa-calendar"></i>
                                    {{ (ns+'.form.date.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="fa" ng-class="settings.showDate ? 'text-navy fa-check-square-o' : 'fa-square-o'"></span>
                                    </strong>
                                </li>
                                <li><i class="fa fa-refresh"></i>
                                    {{ (ns+'.form.contributor_available.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="text-navy">{{ settings.contributorAvailable }}</span>
                                        {{ (ns+'.form.contributor_available.suffix') | translate }}
                                    </strong>
                                </li>
                                <li><i class="fa fa-refresh"></i>
                                    {{ (ns+'.form.hour_per_day.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="text-navy">{{ settings.hourPerDay }}</span>
                                        {{ (ns+'.form.hour_per_day.suffix') | translate }}
                                    </strong>
                                </li>
                                <li><i class="fa fa-refresh"></i>
                                    {{ (ns+'.form.day_per_week.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="text-navy">{{ settings.dayPerWeek }}</span>
                                        {{ (ns+'.form.day_per_week.suffix') | translate }}
                                    </strong>
                                </li>
                                <li><i class="fa fa-refresh"></i>
                                    {{ (ns+'.form.week_per_iteration.label') | translate }}
                                    <strong class="pull-right">
                                        <span class="text-navy">{{ settings.weekPerIteration }}</span>
                                        {{ (ns+'.form.week_per_iteration.suffix') | translate }}
                                    </strong>
                                </li>
                            </ul>
                        </div>
                        <div class="ibox-footer">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a ui-sref="{{ $root.routes.APP_HOME }}"
                                       class="btn btn-sm btn-success pull-right m-l-lg" ng-disabled="loading">
                                        <i class="fa fa-reply"></i> <strong>{{ (ns+'.form.quit') | translate }}</strong>
                                    </a>
                                    <button class="btn btn-sm btn-primary pull-right" type="submit"
                                            ng-disabled="form.$invalid || loading">
                                        <i class="fa fa-save"></i> <strong>{{ (ns+'.form.submit') | translate }}</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>