<div class="wrapper wrapper-content animated fadeIn" ng-init="ns='organization.settings'">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="alert-success m-xs p-xs">
                        {{ (ns + ".info.description") | translate }}<br/>
                        <strong>{{ (ns + ".info.schema") | translate }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <form role="form" name="form" novalidate ng-submit="update(settings)">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-users m-r-xs"></i> {{ (ns + ".project_dev.title") | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".project_dev.descriptions.contributor_price") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.contributor_price.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.contributor_price.placeholder') | translate }}"
                                           class="form-control" name="contributor_price"
                                           ng-model="settings.contributorPrice" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.contributor_price.$invalid && form.contributor_price.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_price.$error.required">
                                        {{ (ns+'.form.contributor_price.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_price.$error.number">
                                        {{ (ns+'.form.contributor_price.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_price.$error.min">
                                        {{ (ns+'.form.contributor_price.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".project_dev.descriptions.contributor_occupation") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.contributor_occupation.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                    <input type="number" min="0" max="100"
                                           placeholder="{{ (ns+'.form.contributor_occupation.placeholder') | translate }}"
                                           class="form-control" name="contributor_occupation"
                                           ng-model="settings.contributorOccupation" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.contributor_occupation.$invalid && form.contributor_occupation.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_occupation.$error.required">
                                        {{ (ns+'.form.contributor_occupation.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_occupation.$error.number">
                                        {{ (ns+'.form.contributor_occupation.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_occupation.$error.min">
                                        {{ (ns+'.form.contributor_occupation.errors.min') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.contributor_occupation.$error.max">
                                        {{ (ns+'.form.contributor_occupation.errors.max') | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-rocket m-r-xs"></i> {{ (ns + ".project_management.title") | translate }}
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".project_management.descriptions.scrummaster_price") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.scrummaster_price.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.scrummaster_price.placeholder') | translate }}"
                                           class="form-control" name="scrummaster_price"
                                           ng-model="settings.scrummasterPrice" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.scrummaster_price.$invalid && form.scrummaster_price.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_price.$error.required">
                                        {{ (ns+'.form.scrummaster_price.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_price.$error.number">
                                        {{ (ns+'.form.scrummaster_price.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_price.$error.min">
                                        {{ (ns+'.form.scrummaster_price.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".project_management.descriptions.scrummaster_occupation") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.scrummaster_occupation.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                    <input type="number" min="0" max="100"
                                           placeholder="{{ (ns+'.form.scrummaster_occupation.placeholder') | translate }}"
                                           class="form-control" name="scrummaster_occupation"
                                           ng-model="settings.scrummasterOccupation" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.scrummaster_occupation.$invalid && form.scrummaster_occupation.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_occupation.$error.required">
                                        {{ (ns+'.form.scrummaster_occupation.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_occupation.$error.number">
                                        {{ (ns+'.form.scrummaster_occupation.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_occupation.$error.min">
                                        {{ (ns+'.form.scrummaster_occupation.errors.min') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.scrummaster_occupation.$error.max">
                                        {{ (ns+'.form.scrummaster_occupation.errors.max') | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-money m-r-xs"></i> {{ (ns + ".billing.title") | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".billing.descriptions.rate_multiplier") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.rate_multiplier.label') | translate }} *</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                    <input type="number" min="0"
                                           placeholder="{{ (ns+'.form.rate_multiplier.placeholder') | translate }}"
                                           class="form-control" name="rate_multiplier"
                                           ng-model="settings.billingRateMultiplier" required>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.rate_multiplier.$invalid && form.rate_multiplier.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.rate_multiplier.$error.required">
                                        {{ (ns+'.form.rate_multiplier.errors.required') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.rate_multiplier.$error.number">
                                        {{ (ns+'.form.rate_multiplier.errors.number') | translate }}
                                    </small>
                                    <small class="text-danger help-block"
                                           ng-show="form.rate_multiplier.$error.min">
                                        {{ (ns+'.form.rate_multiplier.errors.min') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".billing.descriptions.show_dev_price") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="checkbox m-r-xs">
                                    <input type="checkbox" id="billing-show-dev" ng-model="settings.billingShowDev">
                                    <label for="billing-show-dev">
                                        {{ (ns + ".form.show_dev_price.label") | translate }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".billing.descriptions.show_management_price") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="checkbox m-r-xs">
                                    <input type="checkbox" id="billing-show-management"
                                           ng-model="settings.billingShowManagement">
                                    <label for="billing-show-management">
                                        {{ (ns + ".form.show_management_price.label") | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-tasks m-r-xs"></i> {{ (ns + ".unit.title") | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small class="text-navy">{{ (ns + ".unit.descriptions.estimate_type") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.estimate_type.label') | translate }} *</label>

                                <div class="m-t-xs">
                                    <select class="form-control" name="account" ng-model="settings.estimateType"
                                            required>
                                        <option value="">{{ (ns+'.form.estimate_type.select') | translate }}</option>
                                        <option value="final">{{ (ns+'.form.estimate_type.items.final') | translate }}
                                        </option>
                                        <option value="range">{{ (ns+'.form.estimate_type.items.range') | translate }}
                                        </option>
                                    </select>
                                </div>
                                <div class="m-t-xs"
                                     ng-show="form.estimate_type.$invalid && form.estimate_type.$dirty">
                                    <small class="text-danger help-block" ng-show="form.estimate_type.$error.required">
                                        {{ (ns+'.form.estimate_type.error.required') | translate }}
                                    </small>
                                </div>
                            </div>
                            <div ng-if="settings.estimateType == 'range'">
                                <div class="form-group">
                                    <small class="text-navy">
                                        {{ (ns + ".unit.descriptions.range_estimate_unit") | translate }}
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>{{ (ns+'.form.range_estimate_unit.label') | translate }} *</label>

                                    <div class="m-t-xs">
                                        <select class="form-control" name="account"
                                                ng-model="settings.rangeEstimateUnit" required>
                                            <option value="">
                                                {{ (ns+'.form.range_estimate_unit.select') | translate }}
                                            </option>
                                            <option value="minute">
                                                {{ (ns+'.form.range_estimate_unit.items.minute') | translate }}
                                            </option>
                                            <option value="hour">
                                                {{ (ns+'.form.range_estimate_unit.items.hour') | translate }}
                                            </option>
                                            <option value="day">
                                                {{ (ns+'.form.range_estimate_unit.items.day') | translate }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="m-t-xs"
                                         ng-show="form.range_estimate_unit.$invalid && form.range_estimate_unit.$dirty">
                                        <small class="text-danger help-block"
                                               ng-show="form.range_estimate_unit.$error.required">
                                            {{ (ns+'.form.range_estimate_unit.error.required') | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="text-navy">
                                    {{ (ns + ".unit.descriptions.label") | translate }}
                                </small>
                            </div>
                            <div class="form-group">
                                <label>{{ (ns+'.form.label.label') | translate }} *</label>
                                <input type="text"
                                       placeholder="{{ (ns+'.form.label.placeholder') | translate }}"
                                       class="form-control" name="label"
                                       ng-model="settings.billingLabel" required>

                                <div class="m-t-xs"
                                     ng-show="form.label.$invalid && form.label.$dirty">
                                    <small class="text-danger help-block"
                                           ng-show="form.label.$error.required">
                                        {{ (ns+'.form.label.errors.required') | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="settings-form">
    <div class="form-group">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 title">
            <h5>
                <i class="fa fa-users btn btn-warning btn-circle"></i>
                Équipe de réalisation </h5>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="men_day_price">
                Prix jour / collaborateur </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="men_day_price" name="men_day_price"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="650">
                <span class="input-group-addon btn btn-primary">€</span>
            </div>
        </div>

        <div class="
            col-lg-9 col-lg-offset-3
            col-md-8 col-md-offset-4
            col-sm-8 col-sm-offset-4
            col-xs-8 col-xs-offset-4
            ">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="men_focus_rate">
                Concentration collaborateurs </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="men_focus_rate" name="men_focus_rate"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="80">
                <span class="input-group-addon btn btn-primary">%</span>
            </div>
        </div>
    </div>
    <hr class="hr-line-dashed">
    <div class="form-group">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 title">
            <h5>
                <i class="fa fa-rocket btn btn-warning btn-circle"></i>
                Conduite de projet </h5>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="sm_day_price">
                Prix jour/SM </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="sm_day_price" name="sm_day_price"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="900">
                <span class="input-group-addon btn btn-primary">€</span>
            </div>
        </div>

        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="sm_rate">
                Concentration SM </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="sm_rate" name="sm_rate"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="12">
                <span class="input-group-addon btn btn-primary">%</span>
            </div>
        </div>
    </div>


    <hr class="hr-line-dashed">
    <div class="form-group">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 title">
            <h5>
                <i class="fa fa-money btn btn-warning btn-circle"></i>
                Facturation </h5>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
            <label class="col-md-5 label-checkbox" for="document_is_chargeable">
                Documents facturables </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 checkbox i-checks">
                <input type="checkbox" value="1" id="document_is_chargeable" name="document_is_chargeable"
                       checked="checked">
            </div>
        </div>

        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="estimate_multiplier">
                Taux multiplicateur </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="estimate_multiplier" name="estimate_multiplier"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="130">
                <span class="input-group-addon btn btn-primary">%</span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-md-5 label-checkbox" for="men_display_price">
                Afficher les prix (équipe) </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 checkbox i-checks">
                <input type="checkbox" value="1" id="men_display_price" name="men_display_price" checked="checked">
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-md-5 label-checkbox" for="sm_display_price">
                Afficher les prix (SM) </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 checkbox i-checks">
                <input type="checkbox" value="1" id="sm_display_price" name="sm_display_price" checked="checked">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-md-5 label-checkbox" for="type_estimation_display">
                Choisir le type d'estimation: </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <select class="form-control" id="type_estimation_display" name="type_estimation_display">
                    <option selected="selected" value="0">Estimation finale</option>
                    <option value="1">Estimation haute / basse</option>
                </select>
            </div>
        </div>
    </div>

    <hr class="hr-line-dashed">
    <div class="form-group">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 title">
            <h5>
                <i class="fa fa-tasks btn btn-warning btn-circle"></i>
                Unités </h5>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="estimate_convert_unit">
                Convertir en </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <select id="estimate_convert_unit" name="estimate_convert_unit" class="select2 form-control"
                        disabled="">
                    <option></option>
                    <option value="sp">
                        SP
                    </option>
                    <option value="days" selected="selected">
                        Jours
                    </option>
                    <option value="hrs">
                        Heures
                    </option>
                    <option value="min">
                        Minutes
                    </option>
                </select>
            </div>
        </div>

        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="estimate_default_unit">
                Estimations <i class="fa fa-arrow-up"></i>
                et <i class="fa fa-arrow-down"></i>
            </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <select id="estimate_default_unit" name="estimate_default_unit" class="select2 form-control">
                    <option></option>
                    <option value="sp">
                        SP
                    </option>
                    <option value="days" selected="selected">
                        Jours
                    </option>
                    <option value="hrs">
                        Heures
                    </option>
                    <option value="min">
                        Minutes
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="estimate_display_unit">
                Label à afficher </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="text" class="form-control" id="estimate_display_unit" name="estimate_display_unit"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="jr/h">
            </div>
        </div>
    </div>


    <hr class="hr-line-dashed">
    <div class="form-group">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 title">
            <h5>
                <i class="fa fa-calendar btn btn-warning btn-circle"></i>
                Dates </h5>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="iteration_start_date">
                Date de début </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="date" class="form-control" id="iteration_start_date" name="iteration_start_date"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="18/03/2015"
                       data-mask="99/99/9999">
            </div>
        </div>

        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-md-5 label-checkbox" for="document_display_date">
                Afficher les dates </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 checkbox i-checks">
                <input type="checkbox" value="1" id="document_display_date" name="document_display_date"
                       checked="checked">
            </div>
        </div>
    </div>


    <hr class="hr-line-dashed">
    <div class="form-group">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 title">
            <h5>
                <i class="fa fa-refresh btn btn-warning btn-circle"></i>
                Itérations </h5>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="iteration_men_amount">
                Collaborateurs disponibles </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" step="any" class="form-control" id="iteration_men_amount"
                       name="iteration_men_amount" placeholder="Laisser vide pour hériter de la valeur du parent"
                       value="1">
                <span class="input-group-addon btn btn-primary">collaborateur(s)</span>
            </div>
        </div>

        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="men_focus_factor">
                Focus factor moyen </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="men_focus_factor" name="men_focus_factor"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="1">
                <span class="input-group-addon btn btn-primary">sp / jour</span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="iteration_offday_amount">
                Jours de non production par itération </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="iteration_offday_amount" name="iteration_offday_amount"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="">
                <span class="input-group-addon btn btn-primary">jour(s)</span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="men_absolute_availability">
                Capacité disponible </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="men_absolute_availability"
                       name="men_absolute_availability"
                       placeholder="Laisser vide pour hériter du parent ou automatiser le calcul">
                <span class="input-group-addon btn btn-primary">jour(s)</span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="iteration_absolute_number">
                Nombre d'itérations </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="iteration_absolute_number"
                       name="iteration_absolute_number"
                       placeholder="Laisser vide pour hériter du parent ou automatiser le calcul">
                <span class="input-group-addon btn btn-primary">jour(s)</span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="sm_absolute_availability">
                Nombre de jours SM </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="sm_absolute_availability" name="sm_absolute_availability"
                       placeholder="Laisser vide pour hériter du parent ou automatiser le calcul">
                <span class="input-group-addon btn btn-primary">jour(s)</span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="iteration_hours_per_day">
                Heures par jour </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="iteration_hours_per_day" name="iteration_hours_per_day"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="">
                <span class="input-group-addon btn btn-primary">heures(s)</span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="iteration_week_day_amount">
                Jours par semaine </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="iteration_week_day_amount"
                       name="iteration_week_day_amount" placeholder="Laisser vide pour hériter de la valeur du parent"
                       value="5">
                <span class="input-group-addon btn btn-primary">jour(s)</span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
            <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" for="iteration_week_amount">
                Semaines par iération </label>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 input-group">
                <input type="number" class="form-control" id="iteration_week_amount" name="iteration_week_amount"
                       placeholder="Laisser vide pour hériter de la valeur du parent" value="2">
                <span class="input-group-addon btn btn-primary">semaine(s)</span>
            </div>
        </div>
    </div>
</div>