<div class="versions" ng-controller="version-preview.controller" ng-init="ns='setting'">
    <div ng-init="nsv='version.view'">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-12">
                <h2>{{ (nsv+'.title') | translate }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="{{ $root.routes.ORGANIZATIONS_DETAIL }}({id: organization._id, '#': documentId})"
                           class="text-muted">
                            {{ (nsv+'.back') | translate }}
                        </a>
                    </li>
                    <li class="active">
                        <strong>{{ item.name }}</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row wrapper">
            <span ng-include="'views/versions/partials/macro.html'"></span>
            <span ng-include="'views/versions/partials/resume.html'"></span>
        </div>
    </div>
</div>