<div class="row" translate-namespace="version.view.macro">
    <table class="document table m-t-sm">
        <thead>
        <tr>
            <th translate class="col-lg-2">{{ '.header.theme' }}</th>
            <th translate class="col-lg-6">{{ '.header.feature' }}</th>
            <th class="text-center col-lg-2">
                <span ng-if="setting.estimateType != 'range'" translate>{{ '.header.estimate' }}</span>
                <span ng-if="setting.estimateType == 'range'" translate>{{ '.header.estimate_low' }}</span>
            </th>
            <th class="text-center col-lg-2">
                <span ng-if="setting.estimateType != 'range'" translate>{{ '.header.cost' }}</span>
                <span ng-if="setting.estimateType == 'range'" translate>{{ '.header.estimate_high' }}</span>
            </th>
        </tr>
        </thead>
        <tbody ng-if="item == undefined">
        <tr>
            <td colspan="5" ng-include="'partials/spinner.html'"></td>
        </tr>
        </tbody>
        <tbody ng-if="item != undefined">
        <tr ng-repeat-start="(index, theme) in item.entries | orderBy:'name'"></tr>
        <tr ng-repeat="(index, child) in theme.children | orderBy:'name'">
            <td ng-if="index == 0" rowspan="{{ theme.children.length + 1 }}">
                {{ theme.name }}
            </td>
            <td>{{ child.name }}</td>
            <td class="text-center">
                <span ng-if="setting.estimateType != 'range'">
                    <span class="label label-info col-lg-12">
                    <strong>{{ time(child._id) | currency:setting.label }}</strong>
                    </span>
                </span>
                <span ng-if="setting.estimateType == 'range'">
                    <span class="label label-info col-lg-5 m-r-sm">
                        {{ time(child._id, options.LOW) | currency:setting.label }}
                    </span>
                    <span class="label label-success col-lg-5">
                        {{ cost(child._id, options.LOW) | currency }}
                    </span>
                </span>
            </td>
            <td class="text-center">
                <span ng-if="setting.estimateType != 'range'">
                    <span class="label label-success col-lg-12">
                        {{ cost(child._id) | currency }}
                    </span>
                </span>
                <span ng-if="setting.estimateType == 'range'">
                    <span class="label label-info col-lg-5 m-r-sm">
                        {{ time(child._id, options.HIGH) | currency:setting.label }}
                    </span>
                    <span class="label label-success col-lg-5">
                        {{ cost(child._id, options.HIGH) | currency }}
                    </span>
                </span>
            </td>
        </tr>
        <tr ng-repeat-end></tr>
        </tbody>
    </table>
</div>