<div class="row ng-scope" ng-controller="organization.controller" ng-init="ns='organization.list'">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ (ns + ".title") | translate }}</h5>

                    <div class="ibox-tools">
                        <button type="button" ng-click="open()" class="btn btn-primary btn-xs">
                            {{ (ns + ".create") | translate }}
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="m-t-xs m-b-lg">
                        <div class="input-group">
                            <span class="input-group-addon" id="search">{{ (ns+'.search.title') | translate }}</span>
                            <input type="text" ng-model="search.name"
                                   placeholder="{{ (ns+'.search.placeholder') | translate }}"
                                   class=" form-control">
                        </div>
                    </div>
                    <div ng-if="loading">
                        <div class="col-lg-12">
                            <div class="contact-box">
                                <div class="sk-folding-cube">
                                    <div class="sk-cube1 sk-cube"></div>
                                    <div class="sk-cube2 sk-cube"></div>
                                    <div class="sk-cube4 sk-cube"></div>
                                    <div class="sk-cube3 sk-cube"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!loading">
                        <div class="project-list">
                            <table class="table table-hover">
                                <tbody>
                                <tr ng-repeat="(id,organization) in organizations | filter:search">
                                    <td class="project-status">
                                        <span ng-if="organization.active" class="label label-primary">
                                            {{ (ns+'.item.active') | translate }}
                                        </span>
                                        <span ng-if="!organization.active" class="label label-default">
                                            {{ (ns+'.item.unactive') | translate }}
                                        </span>
                                    </td>
                                    <td class="project-title">
                                        <a ui-sref="project_detail">{{ organization.name }}</a>
                                        <br>
                                        <small>{{ (ns+'.item.create') | translate }} {{ organization.creation.date | date:'dd-MM-yyyy HH:mm:ss'}}</small>
                                    </td>
                                    <td>
                                        <small>
                                            {{ (ns+'.item.created_by') | translate }}
                                            <strong>
                                                {{ organization.creation.user.name.firstname}}
                                                {{ organization.creation.user.name.lastname }}
                                            </strong>
                                        </small>
                                    </td>
                                    <td class="project-people">
                                        <a href="#">
                                            <img gravatar-src="'{{ organization.creation.user.info.email }}'" gravatar-size="30" class="img-circle">
                                        </a>
                                    </td>
                                    <td class="project-actions">
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-folder"></i> {{ (ns+'.item.open') | translate }}</a>
                                        <a ng-click="open(organization._id)" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i> {{ (ns+'.item.edit') | translate }}</a>
                                        <a ng-click="delete(organization._id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> {{ (ns+'.item.delete') | translate }}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>