<div class="form-group" ng-if="!modal">
    <small class="text-navy">
        {{ (ns + ".date.descriptions.show") | translate }}
    </small>
</div>
<div class="form-group">
    <div class="checkbox m-r-xs">
        <input type="checkbox" id="date-show"
               ng-model="setting.showDate">
        <label for="date-show" ng-if="!modal">{{ (ns + ".form.date.label") | translate }}</label>
        <label for="date-show" ng-if="modal">{{ (ns + ".form.date.resume") | translate }}</label>
    </div>
</div>