/* Utils */

.height-fix-md {
    height: 90px;
}

/* Angular Tree Control */
[treecontrol].tree-light {
    margin-left: -22px;
}

[treecontrol].tree-light li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("../img/node-opened-2.png") no-repeat;
}

[treecontrol].tree-light li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("../img/node-closed-2.png") no-repeat;
}

/* iHover */
.file .ih-item.square {
    position: relative;
    width: auto;
    height: auto;
    border: none;
    box-shadow: none;
}

.ih-item.square.effect6 .info {
    background: rgba(0, 0, 0, 0.2);
}

.ih-item.square.effect6 .info h3 {
    text-transform: uppercase;
    background: none;
}

/* Others */
.file {
    border: none;
}

.file-box {
    width: 200px;
}

.file a:hover, a:focus {
    color: #777;
}