/* Utils */

.height-fix-md {
    height: 90px;
}

/* Angular Tree Control */
[treecontrol].tree-light {
    margin-left: -20px;
}

[treecontrol].tree-light li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("../img/node-opened-2.png") no-repeat;
}

[treecontrol].tree-light li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("../img/node-closed-2.png") no-repeat;
}

/* iHover */
.file .ih-item.square {
    position: relative;
    width: auto;
    height: auto;
    border: none;
    box-shadow: none;
}

.ih-item.square.effect6 .info {
    background: rgba(0, 0, 0, 0.2);
}

.ih-item.square.effect6 .info h3 {
    text-transform: uppercase;
    background: none;
}

/* Others */
.file {
    border: none;
}

.file-box {
    width: 200px;
}

.file a:hover, a:focus {
    color: #777;
}

.sidebar-panel {
    position: inherit;
}

#modal-settings input {
    color: #1c84c6;
}

#modal-settings .form-control::-webkit-input-placeholder {
    color: #ed5565;
}

#modal-settings .form-control:-moz-placeholder {
    color: #ed5565;
}

#modal-settings .form-control::-moz-placeholder {
    color: #ed5565;
}

#modal-settings .form-control:-ms-input-placeholder {
    color: #ed5565;
}

.social-footer.ontime {
    height: 350px;
    overflow-x: scroll;
}

.versions .skin-setttings {
    width: 450px;
    background: #fff;
}

.versions .theme-config-box {
    margin-right: -450px;
}

.versions .theme-config-box.show {
    margin-right: 0px;
}