<ul ng-controller="translate.controller as ctrl" translate-namespace="base.header.language">
    <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle" uib-dropdown-toggle>
            <i class="flag-icon flag-icon-{{ctrl.currentLanguage}} m-r-xs"></i>
            <strong class="text-muted" translate>{{ '.title' }}</strong>
        </a>
        <ul class="dropdown-menu animated fadeInRight">
            <li ng-repeat="language in ctrl.languages">
                <a ng-click="ctrl.changeLanguage(language.locale)">
                    <i class="flag-icon flag-icon-{{language.locale}}"></i>
                    <span translate ng-if="ctrl.currentLanguage != language.locale">
                        {{ '.items.' + language.locale }}
                    </span>
                    <strong translate ng-if="ctrl.currentLanguage == language.locale">
                        {{ '.items.' + language.locale }}
                    </strong>
                </a>
            </li>
        </ul>
    </li>
</ul>