<div class="row" ng-init="nsvr='version.view.resume'">
    <div class="col-lg-6">
        <blockquote>{{ (nsvr+'.sizing.title') | translate }}</blockquote>
        <div class="row">
            <div class="col-lg-6">
                <div class="widget lazur-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span>{{ (nsvr+'.sizing.tasks') | translate }}</span>

                            <h2 class="font-bold">40</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget lazur-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-tachometer fa-3x"></i>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span>{{ (nsvr+'.sizing.estimates') | translate }}</span>

                            <h2 class="font-bold">110,00</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="widget lazur-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="col-lg-4 text-right">
                            <span>{{ (nsvr+'.sizing.contributor') | translate }}</span>

                            <h2 class="font-bold">1</h2>
                        </div>
                        <div class="col-lg-4 text-right">
                            <span>{{ (nsvr+'.sizing.days_per_contributor_per_iteration') | translate }}</span>

                            <h2 class="font-bold">8</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget lazur-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-refresh fa-3x"></i>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span>{{ (nsvr+'.sizing.iterations') | translate }}</span>

                            <h2 class="font-bold">13,75</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="widget lazur-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-calendar fa-3x"></i>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span>{{ (nsvr+'.sizing.start_date') | translate }}</span>

                            <h2 class="font-bold">29/09/2015</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget lazur-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-calendar fa-3x"></i>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span>{{ (nsvr+'.sizing.end_date') | translate }}</span>

                            <h2 class="font-bold">15/04/2016</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <blockquote>{{ (nsvr+'.price.title') | translate }}</blockquote>
        <div class="row">
            <div class="col-lg-6">
                <div class="widget red-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span>{{ (nsvr+'.price.dev_time') | translate }}</span>

                            <h2 class="font-bold">110</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget red-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span>{{ (nsvr+'.price.sm_time') | translate }}</span>

                            <h2 class="font-bold">13,21</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="widget red-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-eur fa-3x"></i>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span>{{ (nsvr+'.price.dev_price') | translate }}</span>

                            <h2 class="font-bold">71 500</h2></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget red-bg">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fa fa-eur fa-3x"></i>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span>{{ (nsvr+'.price.sm_price') | translate }}</span>

                            <h2 class="font-bold">11 889</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget blue-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-eur fa-3x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>{{ (nsvr+'.price.total') | translate }}</span>

                            <h2 class="font-bold">83 389</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>