<div class="form-group" ng-if="!modal">
    <small class="text-navy">
        {{ (ns + ".billing.descriptions.rate_multiplier") | translate }}
    </small>
</div>
<div class="form-group">
    <label ng-if="!modal">{{ (ns+'.form.rate_multiplier.label') | translate }} *</label>
    <label ng-if="modal">{{ (ns+'.form.rate_multiplier.resume') | translate }}</label>

    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-percent"></i></span>
        <input type="number" min="0"
               placeholder="{{ setting.parent.rateMultiplier }}"
               class="form-control" name="rate_multiplier"
               ng-model="setting.rateMultiplier" ng-required="!modal">
    </div>
    <div class="m-t-xs"
         ng-show="form.rate_multiplier.$invalid && form.rate_multiplier.$dirty">
        <small class="text-danger help-block"
               ng-show="form.rate_multiplier.$error.required">
            {{ (ns+'.form.rate_multiplier.errors.required') | translate }}
        </small>
        <small class="text-danger help-block"
               ng-show="form.rate_multiplier.$error.number">
            {{ (ns+'.form.rate_multiplier.errors.number') | translate }}
        </small>
        <small class="text-danger help-block"
               ng-show="form.rate_multiplier.$error.min">
            {{ (ns+'.form.rate_multiplier.errors.min') | translate }}
        </small>
    </div>
</div>
<div class="form-group" ng-if="!modal">
    <small class="text-navy">
        {{ (ns + ".billing.descriptions.show_dev_price") | translate }}
    </small>
</div>
<div class="form-group">
    <div class="checkbox m-r-xs">
        <input type="checkbox" id="billing-show-dev" ng-model="setting.showDev">
        <label for="billing-show-dev" ng-if="!modal">{{ (ns + ".form.show_dev_price.label") | translate }}</label>
        <label for="billing-show-dev" ng-if="modal">{{ (ns + ".form.show_dev_price.resume") | translate }}</label>
    </div>
</div>
<div class="form-group" ng-if="!modal">
    <small class="text-navy">
        {{ (ns + ".billing.descriptions.show_management_price") | translate }}
    </small>
</div>
<div class="form-group">
    <div class="checkbox m-r-xs">
        <input type="checkbox" id="billing-show-management"
               ng-model="setting.showManagement">
        <label for="billing-show-management" ng-if="!modal">{{ (ns + ".form.show_management_price.label") | translate }}</label>
        <label for="billing-show-management" ng-if="modal">{{ (ns + ".form.show_management_price.resume") | translate }}</label>
    </div>
</div>