<div class="row" translate-namespace="version.view.list">
    <div class="ibox">
        <div class="ibox-content">
            <div class="m-t-sm col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                        <span translate>{{ '.search' }}</span>
                    </span>
                    <input type="text" ng-model="searchList.name" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <table class="document table">
        <thead>
        <tr ng-if="setting.estimateType != 'range'">
            <th translate class="text-center col-lg-1">#</th>
            <th translate class="text-center col-lg-7">{{ '.header.title' }}</th>
            <th translate class="text-center col-lg-1">{{ '.header.estimate' }}</th>
            <th translate class="text-center col-lg-1">{{ '.header.cost' }}</th>
        </tr>
        <tr ng-if="setting.estimateType == 'range'">
            <th translate class="text-center col-lg-1">#</th>
            <th translate class="text-center col-lg-5">{{ '.header.title' }}</th>
            <th translate class="text-center col-lg-2">{{ '.header.estimate_high' }}</th>
            <th translate class="text-center col-lg-2">{{ '.header.estimate_low' }}</th>
        </tr>

        </thead>
        <tbody ng-if="item == undefined">
        <tr>
            <td colspan="5" ng-include="'views/partials/spinner.html'"></td>
        </tr>
        </tbody>
        <tbody ng-if="item != undefined">
        <tr ng-repeat-start="(index, theme) in item.entries | orderBy:'ontime_id'">
            <td colspan="5">
                <strong ng-if="theme.name">{{ theme.name | uppercase }}</strong>
                <strong ng-if="!theme.name">_</strong>
            </td>
        </tr>
        <tr ng-repeat-start="child in theme.children | orderBy:'name'">
            <td colspan="5">
                <strong ng-if="child.name">{{ child.name }}</strong>
                <strong ng-if="!child.name">_</strong>
            </td>
        </tr>
        <tr ng-repeat-start="feature in child.children | orderBy:'ontime_id' | filter:searchList"
            class="priority priority6">
            <td>{{ feature.ontime_id }}</td>
            <td>{{ feature.name }}</td>
            <td class="text-center">
                <span ng-if="setting.estimateType != 'range'">
                    <span class="label label-info col-lg-12">
                        <strong>{{ time(feature._id) | currency:setting.label }}</strong>
                    </span>
                </span>
                <span ng-if="setting.estimateType == 'range'">
                    <span class="label label-info col-lg-5 m-r-sm m-l-sm">
                        <strong>{{ time(feature._id, options.LOW) | currency:setting.label }}</strong>
                    </span>
                    <span class="label label-success col-lg-5">
                        <strong>{{ cost(feature._id, options.LOW) | currency }}</strong>
                    </span>
                </span>
            </td>
            <td class="text-center">
                <span ng-if="setting.estimateType != 'range'">
                    <span class="label label-info col-lg-12">
                        <strong>{{ cost(feature._id) | currency }}</strong>
                    </span>
                </span>
                <span ng-if="setting.estimateType == 'range'">
                    <span class="label label-info col-lg-5 m-r-sm m-l-sm">
                        <strong>{{ time(feature._id, options.HIGH) | currency:setting.label }}</strong>
                    </span>
                    <span class="label label-success col-lg-5">
                        <strong>{{ cost(feature._id, options.HIGH) | currency }}</strong>
                    </span>
                </span>
            </td>
        </tr>
        <tr ng-repeat="subFeature in feature.children | orderBy:'ontime_id' | filter:searchList"
            class="priority priority9">
            <td><i class="m-l-lg">{{ subFeature.ontime_id }}</i></td>
            <td><i>{{ subFeature.name }}</i></td>
            <td class="text-center"><i>
                <span ng-if="setting.estimateType != 'range'">
                    <span class="label label-info-light col-lg-12">
                        <strong>{{ time(subFeature._id) | currency:setting.label }}</strong>
                    </span>
                </span>
                <span ng-if="setting.estimateType == 'range'">
                    <span class="label label-info-light col-lg-5 m-r-sm m-l-sm">
                        <strong>{{ time(subFeature._id, options.LOW) | currency:setting.label }}</strong>
                    </span>
                    <span class="label label-success-light col-lg-5">
                        <strong>{{ cost(subFeature._id, options.LOW) | currency }}</strong>
                    </span>
                </span>
            </i></td>
            <td class="text-center"><i>
                <span ng-if="setting.estimateType != 'range'">
                    <span class="label label-info-light col-lg-12">
                        <strong>{{ cost(subFeature._id) | currency }}</strong>
                    </span>
                </span>
                <span ng-if="setting.estimateType == 'range'">
                    <span class="label label-info-light col-lg-5 m-r-sm m-l-sm">
                        <strong>{{ time(subFeature._id, options.HIGH) | currency:setting.label }}</strong>
                    </span>
                    <span class="label label-success-light col-lg-5">
                        <strong>{{ cost(subFeature._id, options.HIGH) | currency }}</strong>
                    </span>
                </span>
            </i></td>
        </tr>
        <tr ng-repeat-end></tr>
        <tr ng-repeat-end></tr>
        <tr ng-repeat-end></tr>
        </tbody>
    </table>
</div>