<div class="row" translate-namespace="pdf.macro" id="global-view">
    <div class="document-headlines ibox-title">
        <h2 translate>{{ '.title' }}</h2>
    </div>
    <table class="document table">
        <thead>
        <tr>
            <th translate>{{ '.header.theme' }}</th>
            <th translate>{{ '.header.feature' }}</th>
            <th translate class="chiffres" ng-if="setting.estimateType != 'range'">{{ '.header.estimate' }}</th>
            <th translate class="chiffres" ng-if="setting.estimateType != 'range'">{{ '.header.cost' }}</th>
            <th translate class="chiffres" ng-if="setting.estimateType == 'range'" colspan="2">
                {{ '.header.estimate_high' }}
            </th>
            <th translate class="chiffres" ng-if="setting.estimateType == 'range'" colspan="2">
                {{ '.header.estimate_low' }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="(index, theme) in item.entries | orderBy:'ontimeId'"></tr>
        <tr ng-repeat="(index, child) in theme.children | orderBy:'name'">
            <td ng-if="index == 0" rowspan="{{ theme.children.length + 1 }}">
                {{ theme.name }}
            </td>
            <td>{{ child.name }}</td>
            <td class="chiffres" ng-if="setting.estimateType != 'range'">
                <span class="label label-info">
                    <strong>{{ time(child._id) | currency:setting.label }}</strong>
                </span>
            </td>
            <td class="chiffres" ng-if="setting.estimateType != 'range'">
                <span class="label label-success">
                        {{ cost(child._id) | currency }}
                    </span>
            </td>
            <td class="chiffres" ng-if="setting.estimateType == 'range'">
                <span class="label label-info">
                    {{ time(child._id, options.LOW) | currency:setting.label }}
                </span>
            </td>
            <td class="chiffres" ng-if="setting.estimateType == 'range'">
                <span class="label label-success">
                    {{ cost(child._id, options.LOW) | currency }}
                </span>
            </td>
            <td class="chiffres" ng-if="setting.estimateType == 'range'">
                <span class="label label-info">
                    {{ time(child._id, options.HIGH) | currency:setting.label }}
                </span>
            </td>
            <td class="chiffres" ng-if="setting.estimateType == 'range'">
                <span class="label label-success">
                    {{ cost(child._id, options.HIGH) | currency }}
                </span>
            </td>
        </tr>
        <tr ng-repeat-end></tr>
        </tbody>
    </table>
</div>
