<div class="ng-scope" ng-controller="organization-detail.controller as ctrl"
     translate-namespace="organization.detail">
    <div class="row wrapper border-bottom white-bg page-heading ng-scope">
        <div class="col-sm-12">
            <h2 translate>{{ '.title' }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="{{ $root.routes.ORGANIZATIONS_LIST }}" class="text-muted" translate>
                        {{ '.list' }}
                    </a>
                </li>
                <li class="active">
                    <strong>{{ ctrl.organization.name }}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeIn m-b-n-lg">
                <div class="ibox row">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <a ng-click="ctrl.editDetail(ctrl.organization._id)"
                                       class="btn btn-primary btn-xs pull-right">
                                        <i class="fa fa-pencil"></i>
                                        <span translate>{{ '.actions.edit' }}</span>
                                    </a>
                                    <a ui-sref="{{ $root.routes.ORGANIZATIONS_LIST }}"
                                       class="btn btn-success btn-xs pull-right m-r-md">
                                        <i class="fa fa-reply"></i>
                                        <span translate>{{ '.actions.back' }}</span>
                                    </a>

                                    <h2><strong>{{ ctrl.organization.name }}</strong></h2>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt translate>{{ '.organization.state' }}</dt>
                                    <dd>
                                    <span ng-if="ctrl.organization.active" class="label label-primary" translate>
                                        {{ '.organization.states.active' }}
                                    </span>
                                    <span ng-if="!ctrl.organization.active" class="label label-default" translate>
                                        {{ '.organization.states.unactive' }}
                                    </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt translate>{{ '.organization.created_by' }}:</dt>
                                    <dd>
                                        {{ ctrl.organization.creation.user.name.firstname }}
                                        {{ ctrl.organization.creation.user.name.lastname }}
                                    </dd>
                                    <dt translate>{{ '.organization.projects_number' }}:</dt>
                                    <dd> {{ ctrl.organization.projects.length }}</dd>
                                    <dt translate>{{ '.organization.website' }}:</dt>
                                    <dd>
                                        <a href="{{ ctrl.organization.url }}" class="text-navy">
                                            {{ ctrl.organization.url }}
                                        </a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="date_info">
                                <dl class="dl-horizontal">
                                    <dt translate>{{ '.organization.creation_date' }}:</dt>
                                    <dd>{{ ctrl.organization.creation.date | date: $root.const.FORMATS.DATE_TIME }}</dd>
                                    <dt translate>{{ '.organization.update_date' }}:</dt>
                                    <dd>{{ ctrl.organization.update.date | date: $root.const.FORMATS.DATE_TIME }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
                <div class="text-center col-lg-12">
                    <img class="logo-organization" src="{{ ctrl.organization.logo }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="ctrl.organization.description != ''">
        <div class="col-lg-12 m-t-n-xl">
            <div class="bs-callout bs-callout-info">
                <h4 class="m-b-md" translate>{{ '.organization.description.title' }}</h4>
                <p>{{ ctrl.organization.description }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div ng-include="'partials/filesystem.html'" ng-controller="filesystem.controller"></div>
        </div>
    </div>
</div>