<div class="ng-scope" ng-controller="organization-detail.controller" ng-init="ns='organization.detail'">
    <div class="row wrapper border-bottom white-bg page-heading ng-scope">
        <div class="col-sm-12">
            <h2>{{ (ns+'.title') | translate }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="{{ $root.routes.ORGANIZATIONS_LIST }}" class="text-muted">{{ (ns+'.list') | translate }}</a>
                </li>
                <li class="active">
                    <strong>{{ organization.name }}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeIn m-b-n-lg">
                <div class="ibox row">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <a ng-click="edit(organization._id)" class="btn btn-primary btn-xs pull-right">
                                        <i class="fa fa-pencil"></i> {{ (ns+'.actions.edit') | translate }}
                                    </a>
                                    <a ui-sref="{{ $root.routes.ORGANIZATIONS_LIST }}" class="btn btn-success btn-xs pull-right m-r-md">
                                        <i class="fa fa-reply"></i> {{ (ns+'.actions.back') | translate }}
                                    </a>

                                    <h2><strong>{{ organization.name }}</strong></h2>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>{{ (ns+'.organization.state') | translate }}</dt>
                                    <dd>
                                    <span ng-if="organization.active" class="label label-primary">
                                        {{ (ns+'.organization.states.active') | translate }}
                                    </span>
                                    <span ng-if="!organization.active" class="label label-default">
                                        {{ (ns+'.organization.states.unactive') | translate }}
                                    </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>{{ (ns+'.organization.created_by') | translate }}:</dt>
                                    <dd>
                                        {{ organization.creation.user.name.firstname }}
                                        {{ organization.creation.user.name.lastname }}
                                    </dd>
                                    <dt>{{ (ns+'.organization.projects_number') | translate }}:</dt>
                                    <dd> {{ organization.projects.length }}</dd>
                                    <dt>{{ (ns+'.organization.website') | translate }}:</dt>
                                    <dd><a href="{{ organization.url }}" class="text-navy"> {{ organization.url }}</a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="date_info">
                                <dl class="dl-horizontal">
                                    <dt>{{ (ns+'.organization.creation_date') | translate }}:</dt>
                                    <dd>{{ organization.creation.date | date: $root.const.FORMATS.DATE_TIME }}</dd>
                                    <dt>{{ (ns+'.organization.update_date') | translate }}:</dt>
                                    <dd>{{ organization.update.date | date: $root.const.FORMATS.DATE_TIME }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
                <div class="text-center col-lg-12">
                    <img class="logo-organization" src="{{ organization.logo }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="organization.description != ''">
        <div class="col-lg-12 m-t-n-xl">
            <div class="bs-callout bs-callout-info">
                <h4 class="m-b-md">{{ (ns+'.organization.description.title') | translate }}</h4>
                <p>{{ organization.description }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div ng-include="'partials/filesystem.html'" ng-controller="filesystem.controller"></div>
        </div>
    </div>
</div>