<!--<div class="row">
    <div class="col-lg-12 contact-box">
        <div class="center-version">
            <div class="input-group">
                                <span class="input-group-addon"
                                      id="search">{{ (ns+'.search.title') | translate }}</span>
                <input type="text" ng-model="search.name"
                       placeholder="{{ (ns+'.search.placeholder') | translate }}"
                       class=" form-control">
            </div>
        </div>
    </div>
</div>-->
<div class="row" ng-controller="filesystem.controller" class="animated fadeIn">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                    <h5>{{ (ns+'.node') | translate }}</h5>

                    <div class="hr-line-dashed"></div>
                    <input type="text" ng-model="nodeSearch" placeholder="{{ (ns+'.search.placeholder') | translate }}"
                           class=" form-control">
                    <div class="hr-line-dashed"></div>
                    <h5>{{ (ns+'.node.arbo') | translate }}</h5>

                    <div treecontrol class="tree-light"
                         tree-model="items"
                         options="treeOptions"
                         on-selection="onSelect(node, selected, $parentNode, $index)"
                         filter-expression="nodeSearch"
                         order-by="type" reverse-order="true">
                        <span ng-switch="" on="node.type">
                            <span ng-switch-when="project" class="fa fa-folder text-success" aria-hidden="true"></span>
                            <span ng-switch-when="document" class="fa fa-file-text-o text-navy" aria-hidden="true"></span>
                        </span>
                        {{node.name}}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="file-box">
                    <div class="file">
                        <button class="btn btn-block btn-outline btn-default p-sm" ng-click="edit()">
                            <i class="fa fa-plus fa-5x m-b-md"></i> <br/>
                            <strong>{{ (ns+'.item.creation.create') | translate }}</strong>
                        </button>
                        <div>
                            <span class="corner"></span>
                            <div class="file-name text-center">
                                {{ (ns+'.item.creation.description') | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-box" ng-repeat="project in projects | orderBy:name">
                    <div class="file">
                        <div class="file-box">
                            <div class="file">
                                <span uib-dropdown on-toggle="toggled(open)">
                                  <div>
                                      <span class="corner"></span>

                                      <div class="icon">
                                          <i class="fa fa-file"></i>
                                      </div>
                                      <div class="file-name">
                                          <div class="btn-group pull-right" uib-dropdown is-open="status.isopen">
                                              <button id="single-button" type="button" class="btn btn-white btn-xs"
                                                      uib-dropdown-toggle ng-disabled="disabled">
                                                  <span class="caret"></span>
                                              </button>
                                              <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                                  <li role="menuitem">
                                                      <a ng-click="edit(project._id)">
                                                          <i class="fa fa-pencil"></i>
                                                          {{ (ns+'.item.edit') | translate }}
                                                      </a>
                                                  </li>
                                                  <li role="menuitem">
                                                      <a ng-click="delete(project._id)">
                                                          <i class="fa fa-trash"></i>
                                                          {{ (ns+'.item.delete') | translate }}
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                          {{ project.name }}
                                          <br>
                                          <small>Added: {{ project.creation.date }}</small>
                                      </div>
                                  </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-box" ng-repeat="document in documents | orderBy:name">
                    <div class="file">
                        <button class="btn btn-block btn-outline btn-success p-sm" uib-tooltip="{{ document.description }}">
                            <i class="fa fa-folder fa-5x m-b-md"></i> <br/>
                            <strong>{{ document.name }}</strong>
                        </button>
                        <div>
                            <span class="corner"></span>
                            <div class="file-name text-center">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-pencil"></i>
                                        {{ (ns+'.item.edit') | translate }}
                                    </a>
                                    <a class="btn btn-xs btn-danger"><i class="fa fa-trash"></i>
                                        {{ (ns+'.item.delete') | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>