<div class="row animated fadeIn" ng-controller="filesystem.controller" ng-init="ns='filesystem'">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                    <h5>{{ (ns+'.control.filter') | translate }}</h5>
                    <!--<a ng-click="clearSelected()" class="file-control">
                        {{ (ns+'.control.filters.unselect') | translate }}
                    </a>-->
                    <a ng-click="expandAll()" class="file-control">
                        {{ (ns+'.control.filters.expand') | translate }}
                    </a>
                    <a ng-click="collapseAll()" class="file-control">
                        {{ (ns+'.control.filters.collapse') | translate }}
                    </a>

                    <div class="hr-line-dashed"></div>
                    <button class="btn btn-primary btn-block btn-sm" ng-click="editItem()"
                            ng-disabled="currentItem.type == 'document'">
                        <strong>{{ (ns+'.control.actions.create') | translate }}</strong>
                    </button>
                    <div class="hr-line-dashed"></div>

                    <input type="text" ng-model="nodeSearch"
                           placeholder="{{ (ns+'.control.search.placeholder') | translate }}"
                           class="form-control input-sm">

                    <div class="hr-line-dashed"></div>
                    <h5>{{ (ns+'.control.tree') | translate }}</h5>

                    <a ng-click="clearSelected()">
                        <i class="fa fa-diamond text-muted"></i>
                        <strong class="text-warning">{{ organization.name }}</strong>
                    </a>
                    <div treecontrol class="tree-light"
                         tree-model="items"
                         options="treeOptions"
                         on-selection="onSelect(node, selected, $parentNode, $index)"
                         filter-expression="nodeSearch"
                         selected-node="selected"
                         expanded-nodes="expandedNodes"
                         order-by="type" reverse-order="true">
                        <span ng-switch="" on="node.type">
                            <span ng-switch-when="project" class="fa fa-suitcase text-success" aria-hidden="true"></span>
                            <span ng-switch-when="document" class="fa fa-file-text-o text-navy"
                                  aria-hidden="true"></span>
                        </span>
                        {{node.name}}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="file-manager">
                            <h5>{{ (ns+'.breadcrumb') | translate }}</h5>
                            <ol class="breadcrumb">
                                <li>
                                    <a ng-click="clearSelected()"><i class="fa fa-home text-muted"></i>
                                        <strong class="text-warning">{{ organization.name }}</strong>
                                    </a>
                                </li>
                                <li ng-repeat="element in breadcrumbElements">
                                    <a ng-click="open(element._id)"
                                       ng-class="element.hasChildren ? 'text-success' : 'text-navy';">
                                        <strong>{{ element.name }}</strong>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div ng-if="currentItem.type != 'document'">
                    <div class="file-box" ng-repeat="fileItem in fileItems | orderBy:name">
                        <div class="file">
                            <div class="file-box">
                                <div class="file">
                                <span uib-dropdown ng-init="opened = false">
                                  <div>
                                      <span class="corner"></span>

                                      <div class="ih-item square effect6 from_top_and_bottom">
                                          <a ng-click="open(fileItem._id)">
                                              <div class="img">
                                                  <div class="icon">
                                                      <i class="fa"
                                                         ng-class="fileItem.projects ? 'fa-suitcase text-success' : 'fa-file-text text-navy'"></i>
                                                  </div>
                                              </div>
                                              <div class="info">
                                                  <h3>{{ (ns+'.item.open') | translate }}</h3>
                                              </div>
                                          </a>
                                      </div>

                                      <div class="file-name">
                                          <div class="btn-group pull-right" uib-dropdown is-open="opened">
                                              <button id="single-button-project" type="button" class="btn btn-white btn-xs"
                                                      uib-dropdown-toggle ng-disabled="disabled">
                                                  <span class="caret"></span>
                                              </button>
                                              <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button-project">
                                                  <li role="menuitem">
                                                      <a ng-click="editItem(fileItem._id)">
                                                          <i class="fa fa-pencil"></i>
                                                          {{ (ns+'.item.edit') | translate }}
                                                      </a>
                                                  </li>
                                                  <li role="menuitem">
                                                      <a ng-click="delete(fileItem._id)">
                                                          <i class="fa fa-trash"></i>
                                                          {{ (ns+'.item.delete') | translate }}
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                          <span ng-class="fileItem.projects ? 'text-success' : 'text-navy'">
                                              {{ fileItem.name }}
                                          </span>
                                          <br>
                                          <small>
                                              {{ (ns+'.item.added') | translate }}
                                              {{ fileItem.creation.date | date:'dd-MM-yyyy' }}
                                          </small>
                                      </div>
                                  </div>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="currentItem.type == 'document'">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-t-xs m-b-sm">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="search-document">
                                                <i class="fa fa-search"></i>
                                                {{ (ns+'.document.search.title') | translate }}
                                            </span>
                                            <input type="text" ng-model="search.name"
                                                   placeholder="{{ (ns+'.document.search.placeholder') | translate }}"
                                                   class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="pull-rigth">
                                <span class="pull-right small text-muted">
                                    {{ versionsFiltered.length }}
                                    {{ (ns + ".document.versions_found") | translate }}
                                </span>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>{{ (ns+'.document.head.name') | translate }}</th>
                                        <th>{{ (ns+'.document.head.creator') | translate }}</th>
                                        <th>{{ (ns+'.document.head.actions') | translate }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="currentItem.versions.length == 0">
                                        <td colspan="3" class="text-center">
                                            <strong class="text-muted">{{ (ns+'.document.item.no_version') | translate }}</strong><br/>
                                            <button type="button" ng-click="editVersion()" class="btn btn-primary btn-xs m-xs">
                                                {{ (ns + ".document.create") | translate }}
                                            </button>
                                        </td>
                                    </tr>
                                    <tr ng-if="currentItem.versions.length > 0 && versionsFiltered.length == 0">
                                        <td colspan="3" class="text-center">
                                            <strong class="text-warning">{{ (ns+'.document.item.no_version_filter') | translate }}</strong>
                                        </td>
                                    </tr>
                                    <tr ng-if="currentItem.versions.length > 0"
                                        ng-repeat="(id,version) in versionsFiltered = (currentItem.versions | orderBy:'name' | filter:search)">

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 settings">
        <div class="sidebar-panel col-lg-12">
            <div>
                <h4>
                    {{ (ns+'.setting.title') | translate }}
                    <span ng-switch="currentItem.type">
                        <span ng-switch-when="project">
                            {{ (ns+'.setting.items.project') | translate }}
                            <strong class="text-success">{{ currentItem.name }}</strong>
                        </span>
                        <span ng-switch-when="document">
                            {{ (ns+'.setting.items.document') | translate }}
                            <strong class="text-navy">{{ currentItem.name }}</strong>
                        </span>
                        <span ng-switch-default>
                            {{ (ns+'.setting.items.default') | translate }}
                            <strong class="text-warning">{{ currentItem.name }}</strong>
                        </span>

                    </span>
                </h4>
                <div ng-include="'views/settings/partials/resume.html'"></div>
                <div class="row" ng-if="setting != undefined">
                    <div class="col-lg-12">
                        <button class="col-lg-12 btn btn-success btn-xs" ng-click="editSetting(currentItem._id)">
                            <i class="fa fa-pencil m-r-sm"></i>
                            {{ (ns+'.setting.form.edit') | translate }}
                            <strong>{{ currentItem.name }}</strong>
                        </button>
                    </div>
                </div>
                <div class="row" ng-if="setting == undefined">
                    <div class="col-lg-12">
                        <a ui-sref="{{ $root.routes.ORGANIZATIONS_SETTINGS }}" class="col-lg-12 btn btn-danger btn-xs">
                            <strong>{{ (ns+'.setting.global_setting') | translate }}</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>