<!--<div class="row">
    <div class="col-lg-12 contact-box">
        <div class="center-version">
            <div class="input-group">
                                <span class="input-group-addon"
                                      id="search">{{ (ns+'.search.title') | translate }}</span>
                <input type="text" ng-model="search.name"
                       placeholder="{{ (ns+'.search.placeholder') | translate }}"
                       class=" form-control">
            </div>
        </div>
    </div>
</div>-->
<div class="row" ng-controller="filesystem.controller" class="animated fadeIn">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                    <h5>{{ (ns+'.node') | translate }}</h5>

                    <div class="hr-line-dashed"></div>
                    <input type="text" ng-model="nodeSearch" placeholder="{{ (ns+'.search.placeholder') | translate }}"
                           class=" form-control">
                    <div class="hr-line-dashed"></div>
                    <h5>{{ (ns+'.node.arbo') | translate }}</h5>

                    <div treecontrol class="tree-light"
                         tree-model="dataForTheTree"
                         options="treeOptions"
                         on-selection="showSelected(node)"
                         filter-expression="nodeSearch"
                         order-by="type" reverse-order="true">
                        <span ng-switch="" on="node.type">
                            <span ng-switch-when="folder" class="fa fa-folder text-success" aria-hidden="true"></span>
                            <span ng-switch-when="file" class="fa fa-file-text-o text-navy" aria-hidden="true"></span>
                        </span>
                        {{node.name}}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="file-box">
                    <div class="file">
                        <button class="btn btn-block btn-outline btn-default p-sm" uib-tooltip="test">
                            <i class="fa fa-plus fa-5x m-b-md"></i> <br/>
                            <strong>{{ (ns+'.item.creation.create') | translate }}</strong>
                        </button>
                        <div>
                            <span class="corner"></span>
                            <div class="file-name text-center">
                                {{ (ns+'.item.creation.description') | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-box" ng-repeat="project in projects | orderBy:name">
                    <div class="file">
                        <button class="btn btn-block btn-outline btn-success p-sm" uib-tooltip="{{ project.description }}">
                            <i class="fa fa-folder fa-5x m-b-md"></i> <br/>
                            <strong>{{ project.name }}</strong>
                        </button>
                        <div>
                            <span class="corner"></span>
                            <div class="file-name text-center">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-pencil"></i>
                                        {{ (ns+'.item.edit') | translate }}
                                    </a>
                                    <a class="btn btn-xs btn-danger"><i class="fa fa-trash"></i>
                                        {{ (ns+'.item.delete') | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-box" ng-repeat="document in documents | orderBy:name">
                    <div class="file">
                        <button class="btn btn-block btn-outline btn-success p-sm" uib-tooltip="{{ document.description }}">
                            <i class="fa fa-folder fa-5x m-b-md"></i> <br/>
                            <strong>{{ document.name }}</strong>
                        </button>
                        <div>
                            <span class="corner"></span>
                            <div class="file-name text-center">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-pencil"></i>
                                        {{ (ns+'.item.edit') | translate }}
                                    </a>
                                    <a class="btn btn-xs btn-danger"><i class="fa fa-trash"></i>
                                        {{ (ns+'.item.delete') | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>