<form id="modal-versions" class="form-horizontal" role="form" name="form"
      novalidate ng-submit="submit(item)" ng-init="ns='version'; item.type='version';">
    <div class="modal-header">
        <h3 ng-if="!identifier" class="modal-title">{{ (ns+'.title.create') | translate }}</h3>
        <h3 ng-if="identifier" class="modal-title">{{ (ns+'.title.update') | translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>{{ (ns+'.form.name.label') | translate }} *</label>
            <input type="text" placeholder="{{ (ns+'.form.name.placeholder') | translate }}"
                   class="form-control" name="name"
                   ng-model="item.name" required>
            <div class="m-t-xs"
                 ng-show="form.name.$invalid && form.name.$dirty">
                <small class="text-danger help-block" ng-show="form.name.$error.required">
                    {{ (ns+'.form.name.errors.required') | translate }}
                </small>
            </div>
        </div>
        <div class="social-feed-box m-t-lg">
            <div class="pull-right social-action">
                <a class="btn btn-primary btn-sm" ng-click="refresh()">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
            <div class="social-avatar">
                <span class="col-lg-3 pull-left">
                    <img alt="image" ng-src="img/ontime.png" class="img-responsive">
                </span>
                <div class="media-body">
                    <strong>{{ (ns+'.ontime.title') | translate }}</strong><br/>
                    <small class="text-muted">{{ (ns+'.ontime.description') | translate }}</small>
                </div>
            </div>
            <div class="social-body">
                <strong>
                    <span class="text-muted">{{ (ns+'.ontime.selected') | translate }}:</span>
                    <span ng-if="selected != undefined" class="text-navy">
                        {{ selected.name }}
                    </span>
                    <span ng-if="selected == undefined" class="text-danger">
                        {{ (ns+'.ontime.no_selection') | translate }}
                    </span>
                </strong>
            </div>
            <div class="social-footer">
                <div ng-if="loadingOntime" ng-include="'views/partials/spinner.html'"></div>
                <div ng-if="!loadingOntime">
                    <div treecontrol class="tree-light"
                         tree-model="ontimeItems"
                         options="treeOptions"
                         on-selection="onSelect(node, selected, $parentNode, $index)"
                         selected-node="selected"
                         expanded-nodes="expandedNodes"
                         order-by="name">
                        <span class="fa fa-folder text-success" aria-hidden="true"></span>
                        {{node.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-12">
                <a ng-click="cancel()"
                   class="btn btn-sm btn-success pull-right m-l-lg" ng-disabled="loading">
                    <i class="fa fa-reply"></i> <strong>{{ (ns+'.form.quit') | translate }}</strong>
                </a>
                <button class="btn btn-sm btn-primary pull-right" type="submit"
                        ng-if="item.ontimeId != undefined" ng-disabled="form.$invalid || loading">
                    <i class="fa fa-save"></i> <strong>{{ (ns+'.form.submit') | translate }}</strong>
                </button>
            </div>
        </div>
    </div>
</form>