<div class="row" translate-namespace="pdf.macro">
    <div class="document-headlines ibox-title vision-globale">
        <h2 translate>{{ '.title' }}</h2>
    </div>
    <table class="document table">
        <thead>
        <tr>
            <th translate class="">{{ '.header.theme' }}</th>
            <th translate class="">{{ '.header.feature' }}</th>
            <th translate class="chiffres">{{ '.header.estimate' }}</th>
            <th translate class="chiffres">{{ '.header.cost' }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="(index, theme) in item.entries | orderBy:'name'"></tr>
        <tr ng-repeat="(index, child) in theme.children | orderBy:'name'">
            <td ng-if="index == 0" rowspan="{{ theme.children.length + 1 }}">
                {{ theme.name }}
            </td>
            <td>{{ child.name }}</td>
            <td class="chiffres">
                <span class="label label-info">
                    <strong>{{ time(child._id) | currency:setting.label }}</strong>
                </span>
            </td>
            <td class="chiffres">
                <span class="label label-success">
                    <strong>{{ cost(child._id) | currency }}</strong>
                </span>
            </td>
        </tr>
        <tr ng-repeat-end></tr>
        </tbody>
    </table>
</div>
